.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 60px 40px 40px;
  background-color: var(--white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow: auto;
}

.menuContainer.isOpen {
  transform: translateX(0);
}

.modalCloseBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid var(--cornflower);
  cursor: pointer;
  border-radius: 50%;
}

.closeIcon {
  width: 8px;
  height: 8px;
}

.navList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  margin-bottom: 100px;
}

.navLink {
  color: var(--ocean);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  position: relative;
  display: inline-block;
  flex-direction: column;
  padding-bottom: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.underline {
  position: relative;
  color: var(--ocean);
}

.underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 2px;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.mobileAddressList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 40px;
}

.mobileAddressTel {
  display: flex;
  color: var(--iris);
  font-family: inherit;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobileAddressTel:hover,
.mobileAddressTel:focus {
  color: var(--ocean);
}

.mobileAddressMail {
  display: flex;
  color: var(--slate);
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobileAddressMail:hover,
.mobileAddressMail:focus {
  color: var(--ocean);
}

.mobileSocialLinks {
  list-style: none;
  display: flex;
  gap: 30px;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--iris);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialLink:hover,
.socialLink:focus,
.socialLink:active {
  background-color: var(--ocean);
}

.socialIcon {
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}
