.navList {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  .navItem {
    font-size: 16px;
    line-height: 1.5;
  }
}

.navLink {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
  display: inline-block;
  flex-direction: column;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.underline {
  position: relative;
  color: var(--ocean);
}

.underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 2px;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.hasDropdown {
  position: relative;
}

.subMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-width: 150px;
  z-index: 10;
  display: none;
}

.hasDropdown:hover .subMenu {
  display: block;
}

.subMenuItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.subMenuItem:last-child {
  border-bottom: none;
}

.subMenuLink {
  text-decoration: none;
  color: black;
  display: block;
  padding: 8px 12px;
}

.subMenuLink:hover {
  background-color: #f0f0f0;
}
