/* 
@media (min-width:320px)    smartphones, iPhone, portrait 480x320 phones 
@media (min-width:481px)    portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. 
@media (min-width:641px)    portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 
@media (min-width:961px)    tablet, landscape iPad, lo-res laptops ands desktops 
@media (min-width:1025px)   big landscape tablets, laptops, and desktops 
@media (min-width:1281px)   hi-res laptops and desktops  */

.section {
  padding: 95px 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 120px 0;
  }
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
}
@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .list {
    align-items: flex-start;
    width: 1158px;
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
@media screen and (min-width: 425px) {
  .text {
    width: 395px;
  }
}
@media screen and (min-width: 768px) {
  .listItem {
    width: calc((100% - 72px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .listItem {
    width: calc((100% - 72px) / 4);
  }
}

.iconContainer {
  background-color: var(--cloud);
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--cloud);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1157px) {
  .iconContainer {
    display: none;
  }
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.text {
  font-weight: 500;
  width: 300px;
}
@media screen and (min-width: 768px) {
  .text {
    width: 340px;
  }
}
@media screen and (min-width: 1158px) {
  .text {
    font-weight: 400;
    width: 264px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  width: 64px;
  height: 64px;
}
