.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
}
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
}

.logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  display: block;
}

.logoSpan {
  color: var(--navy-blue);
}

.navList {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  .navItem {
    font-size: 16px;
    line-height: 1.5;
  }
}

.navLink {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
  display: inline-block;
  flex-direction: column;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.homeUnderline,
.portfolioUnderline {
  position: relative;
  color: var(--ocean);
}

.homeUnderline::after,
.portfolioUnderline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 2px;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
}
@media all and (min-width: 768px) {
  .address {
    margin-left: auto;
    max-width: 119px;
  }
}
@media all and (min-width: 1158px) {
  .address {
    max-width: 350px;
  }
}

.addressList {
  display: flex;
  gap: 24px;
}

.addressLink {
  color: var(--slate);
  display: flex;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .addressLink {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1158px) {
  .addressLink {
    display: flex;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.socialLink:hover,
.socialLink:focus,
.socialLink:active,
.menuLink:hover,
.menuLink:focus,
.menuLink:active,
.addressLink:hover,
.addressLink:focus,
.addressLink:active {
  color: var(--ocean);
}

@media screen and (max-width: 767px) {
  .navItem {
    display: none;
  }
  .addressList {
    display: none;
  }
}

Mobile Menu .menuToggle {
  position: absolute;
  top: 24px;
  right: 24px;
}
.menuToggle {
  background: none;
  border: none;
  cursor: pointer;
  stroke: var(--navy-blue);
}
@media (min-width: 768px) {
  .menuToggle {
    display: none;
  }
}
.menuToggle:hover,
.menuToggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menuIcon {
  width: 32px;
  height: 32px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 60px 40px 40px;
  background-color: var(--white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow: auto;
}
.menuContainer.is-open {
  transform: translateX(0);
}

.mobileMenu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 284px;
}
.mobileMenu .link {
  display: block;
  padding: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: capitalize;
  color: #2e2f42;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobileMenu .link:hover,
.mobileMenu .link:focus {
  color: var(--ocean);
}

.mobileAddress {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 48px;
  display: block;
}

.mobileAddressTel {
  display: flex;
  color: var(--iris);
  font-family: inherit;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 40px;
}
.mobileAddressTel:hover,
.mobileAddressTel:focus {
  color: var(--ocean);
}

.mobileAddressMail {
  display: flex;
  color: var(--slate);
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobileAddressMail:hover,
.mobileAddressMail:focus {
  color: var(--ocean);
}

.moblieSocialLinks {
  list-style: none;
  display: flex;
  gap: 56px;
}

.themeToggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--navy-blue);
  transition: color 0.3s ease;
}
