@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --title: #2e2f42;
  --text: #434455;
  --sub-text: #8e8f99;
}

[data-theme='dark'] {
  /* --iris: #a5b4fc;
  --ocean: #818cf8; */
  --navy-blue: #ffffff;
  --green: #6ee7b7;
  --slate: #f4f4fd;
  --light-slate: #ffffff;
  --cornflower: #1e293b;
  --cloud: #334155;
  /* --navy-blue-modal: #00000080;
  --grey: #f1f5f9; */
  --white: #0f172a;
  --dairy: #1e293b;
  --title: #ffffff;
  --text: #f4f4fd;
  --sub-text: #ffffff;
  background-color: var(--white);
  color: var(--navy-blue);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h2 {
  color: var(--navy-blue);
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

h3 {
  color: var(--navy-blue);
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p {
  color: var(--slate);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
