@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.secondaryTitle {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-transform: capitalize;
  text-align: center;
}

.tertiaryTitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.paragraph {
  color: #434455;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section {
  padding: 96px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 120px 0;
  }
}

.section .list {
  justify-content: center;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 320px) and (max-width: 427px) {
  .container {
  }
}
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* Mobile Menu */

.menuToggle {
  position: absolute;
  top: 24px;
  right: 24px;
}
.headerWrap .menuToggle {
  background: none;
  border: none;
  cursor: pointer;
  stroke: var(--navy-blue);
}
@media (min-width: 768px) {
  .menuToggle {
    display: none;
  }
}
.menuToggle:hover,
.menuToggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.iconMenu {
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 60px 40px 40px;
  background-color: var(--white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow: auto;
}
.menuContainer.is-open {
  transform: translateX(0);
}

.mobileMenu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 284px;
}
.mobileMenu .link {
  display: block;
  padding: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: capitalize;
  color: #2e2f42;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobileMenu .link:hover,
.mobileMenu .link:focus {
  color: #404bbf;
}

.mobileAddress {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 48px;
  display: block;
}

.mobileAddressTel {
  display: flex;
  color: #4d5ae5;
  font-family: inherit;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 40px;
}
.mobileAddressTel:hover,
.mobileAddressTel:focus {
  color: #404bbf;
}

.mobileAddressMail {
  display: flex;
  color: #434455;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobileAddressMail:hover,
.mobileAddressMail:focus {
  color: #404bbf;
}

.moblieSocialLinks {
  list-style: none;
  display: flex;
  gap: 56px;
}
